[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
default-time-zone=+00:00
sql-mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
innodb_flush_log_at_trx_commit=1
slow_query_log=ON
long_query_time=0.2
log_output=FILE

[client]
default-character-set=utf8mb4
